html,
body {
  height: 100%;
}

.arka {
  background: rgba(255, 189, 252, 0.2);
  /* background: rgba(52, 0, 52, 0.171); */
  backdrop-filter: blur(3px);
}

.form-signin {
  max-width: 440px;
  padding: 1rem;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}


/* silinecek */
.asd {
  position: fixed;
  background-color: rgba(255, 0, 0, 0.427);
  width: 30vw; /* Genişliği ekranın genişliğinin %100'ü olarak ayarlar */
  height: 100vh; /* Yüksekliği ekranın yüksekliğinin %100'ü olarak ayarlar */
}